{
  "extends": "standard",
  "globals": {
    "Promise": "off",
    "FIND_SOURCES": "writable",
    "ERR_NOT_IN_RANGE": "writable",
    "RESOURCE_ENERGY":  "writable",
    "MOVE": "writable",
    "WORK": "writable",
    "CARRY": "writable",
    "FIND_DROPPED_RESOURCES": "writable",
    "STRUCTURE_CONTAINER": "writable",
    "FIND_MY_CONSTRUCTION_SITES": "writable",
    "FIND_STRUCTURES": "writable",
    "Game": "writable"
  }
}
